// _c-title.scss

.title {
	margin: 0 0 31px 0;
	font-family: font('primary');
	@include font-size(32px);
	font-weight: 700;
	line-height: em(22px,32px);
	text-align: center;

	&--secondary {
		margin: 0 0 31px 0;
		font-family: font('primary');
		@include font-size(18px);
		font-weight: 700;
		line-height: em(22px,18px);
	}
}
