// nav.scss
@import "../../assets/styles/helpers";

.nav {
	position: sticky;
	display: block;
	background: color('background', 'invert');
	color: color('background');

	ul {
		display: inline-flex;
		justify-content: space-between;
		width: 100%;
		list-style: none;
		background: color('background', 'invert');
		color: color('background');
	}

	li {
		// display: inline;
		background: color('background', 'invert');
		color: color('background');
	}

	a {
		padding: 15px 0;
		text-decoration: none;
		text-transform: uppercase;
		font-family: font('primary');
		@include font-size(14px);
		font-weight: 700;
		background: color('background', 'invert');
		color: color('background');
	}
}
